.flex-container {
    display: flex;
    border: 1px dashed blue;
    flex-wrap: wrap;
    height: 300px;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    align-items: flex-start;
}

